<!DOCTYPE html>
<html>
<head>
  <title>Memeable</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<nav>
  logo
  <ul>
    <li>By Category</li>
    <!--    <li><%#= link_to 'By Popularity', controller: 'memes', action: 'by_popularity' %></li>-->
    <li>Search</li>
  </ul>
  <% if user_signed_in? %>
    Welcome, <%= current_user.username %>
    <ul>
      <li><%= link_to "My account", current_user %></li>
      <li><%= link_to "Log out", destroy_user_session_path, :method => 'delete' %></li>
    </ul>
  <% else %>
    <ul>
      <li><%= link_to "login", new_user_session_url %></li>
    </ul>
  <% end %>
</nav>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>
<footer>
  Made by Sebas and Wilber - Codeable #2
</footer>
</body>
</html>
